<!--
Author : William Dennis - 100157542
Version : 1.0
Date : 08/05/18
-->

<!--Template for Ticket Data-->
<body>
<!--Heading-->
    <h1> Data for Ticket:{{ticketid}} </h1>
    <table border = 1>
    <!--Table Headings-->
    <tr>
        <th>ticketID</th> <th>Problem</th> <th>Status </th> <th>Priority</th> <th>LoggedTime</th> <th>CustomerID</th>  <th>ProductID</th>
    </tr>
    <!--Automatically fills rows with data from database upon request-->
    {% for row in rows %}
        <tr>
            {% for item in row%}
                <td>
                    {{item}}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <!--Return form to index.html-->
    <form action = "/" method = "GET" >
        <input type = "submit" value = "Back" >
    </form>
</body>